/*pageスタイル*/
	.page{
		margin: 10vh auto 15vh;
		max-width: 980px;
		width: 85vw;
	}
	.page h1{
		font-size: 3em;
		margin-bottom: 1em;
		text-align: center;
	}
	.page h2{
		margin-bottom: .5em;
	}
	.page h4{
		margin-bottom: 1em;
	}

/*Heroスタイル*/
	.half-hero{
		background-position: center center;
		background-size: cover;
		height: 40vh;
	}
	

/*colスタイル*/
	.col-two{
		display: flex;
		flex: 1;
	}
	.col-two .col-aside {
		flex: 0 1 20em;
		order: 1;
	}
	.col-two .col-content{
		flex: 1;
	}

/*col-aside*/
	.blog-recent{
		text-align: right;
	}
	.blog-title-list{
		list-style: none;
		padding: 0;
	}
	.blog-title-list li ~ li{
		margin-top: 1.5em;
	}
	.blog-title-list span{
		color: #999;
		display: block;
		font-size: .8em;
		font-style: italic;
		margin-top: .5em;
	}
	.blog-title-list div{
		font-size: .8em;
	}
	.blog-title-list img{
		border-radius: 99px;
		display: inline-block;
		height: 1.5em;
		vertical-align: middle;
	}

/*col-content*/
	.blog-posts ~ .blog-posts{
		border-top: 1px dotted rgba(0, 0, 0, .1);
		margin-top: 4em;
		padding-top: 4em;
	}
	.blog-posts .post-header {
		font-size: .8rem;
	}
	.post-header {
		margin-bottom: 1.5em;
	}
	.post-header img,
	.post-header .social-link {
	  margin-right: 0.5em;
	}
	.post-header img {
	  border-radius: 99px;
	  display: inline-block;
	  height: 2.5em;
	  vertical-align: middle;
	}
	.posts-image {
	  background-position: center;
	  background-size: cover;
	  height: 6em;
	  margin-bottom: 1.5em;
	}

/*blogスタイル*/
	.post{
		width: 100%;
	}
	.post-content, 
	.post-footer {
		margin: auto;
		max-width: 40em;
		width: 85vw;
	}
	.pull-left{
		float: left;
		margin: 2em 2em 2em -2%
	}
	.pull-right{
		float: right;
		margin: 2em -2% 2em 2em ;
	}

	.post-aside{
		background-color: rgba(0, 0, 0, .01);
		float: right;
		margin: 0 0 2em 2em;
		padding: 2em;
	}
	.post .post-header{
		margin-bottom: 2.5em;
		text-align: center;
	}
	.post-content{
		font-size: 1.1rem;
	}
	.post-footer{
		border-top: 1px solid rgba(0, 0, 0, .1);
		font-style: italic;
		font-size: .8em;
		margin-top: 3em;
		padding-top: 2em;
	}